body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 16px;
}

a:link,
a:visited {
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: none;
}
